body {
  background: #5CDB95
}

.Title {
  text-align: center;
}

ul {
  list-style-type: none;
}

.Content {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  font-size: 2em;
  background: #379683;
  color: #EDF5E1;
}

.Skills {
  display: flex;
}

.Attributes {
  display: flex;
}

h1 {
  color: #05386B;
}

input {
  border: 2px solid black;
  color: transparent;
  text-shadow: 0 0 0 #EDF5E1;
  text-align: center;
  font-size: 0.75em;
  background-color: #05386B;
}

input:focus {
  outline: none;
}

#btns {
  text-align: center;
}

button {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #05386B; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: solid black 1px;
  color: #EDF5E1;
}

button:focus {
  outline: none;
}