footer {
    display: flex;
    position: fixed;
    z-index: 2;
    justify-content: space-around;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #05386B;
    color: white;
    text-align: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #EDF5E1;
    font-size: 1.25rem;
}

.fab {
    margin-right: 10px;
    margin-left: 10px;
}